body{
    background-image: url("./images/stormy.png");
    font-family:Arial, Helvetica, sans-serif;
}

p {
    margin-top: 0rem;
}

h4 {
    margin:0%;
    margin-top: 1rem;
    font-weight: bold;
}

ul {
    margin-top: 1rem;
}
#inputCity{
    margin-top: 9rem;
}

#submitBtn {
    margin-top: 1rem;
}

.card {
    background-color: rgb(94, 91, 91);
    color: ivory;
    font-weight: bold;
    margin: .2rem;
}
.current-weather {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
}
.forcast-weather{
    margin:0%;
    margin-left: 4rem;
    padding:0%;
}

.hidden {
    display: none;
}